* {
    background-color: #1f2937;
}

.Section1 {
    display: flex;
}

.Section1 h1 {
    display: flex;
    height: 100px;
    flex: 1 1 auto;
    align-items: top;
    justify-content: center;
    padding: 10px;
}

.Section1 div {
    display: flex;
    flex: 1;
    padding: 20px;
}

.Section1 .one1 {
    display: flex;
    flex: 200 0 0%;
}

.Section1 .two1 .three1 .four1 {
    display: flex;
    justify-content: right;
}

.Image1 {
    border: 8px solid#3882f6;
    border-radius: 25%;
}

h1 {
    font-style: bold;
}

.header {
    color:#f9faf8;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toptext {
    color: #f9faf8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

.subSection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 300px;
}

#button1 {
    font-size: 18px;
    font-weight: bold;
    border: #3882f6;
    background-color: #3882f6;
    cursor: pointer;
    border-radius: 25px;
}


.Section3 {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
}

.SubSection3one {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9faf8;
}

.SubSection3two {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f9faf8;
}

.img1 {
    width: 300px;
    height: 300px;
    aspect-ratio: 1/2;
    background-color: #f9faf8;
    border: 8px solid#3882f6;
    border-radius: 25%;
}

.SubSection3three {
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: center;
    background-color: #f9faf8;
}

.BlackOnWhiteText {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f9faf8;
}

.BlackOnWhiteText2 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f9faf8;
}

#center1 {
 display: flex;
 align-items: center;
 justify-content: center;
}

.Section4 {
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#QuoteText {
    display: flex;
    font-size: 36px;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

.subSection5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 300px;
    background-color: #3882f6;
}

#QuoteQuote {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    font-weight: bold;
    right: 0;
    font-size: 20px;
}

#BobGallery {
    font-size: 36px;
    font-weight: bolder;
}

.Section5outline {
    background-color: #f9faf8;
    padding: 50px;
}

.Section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #3882f6;
    border-radius: 5px;
}

.SignUp {
    background-color: #3882f6;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#f9faf8;
}

.SignUp2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #3882f6;
}

#button2 {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    cursor: pointer;
    border-radius: 25px;
}

.Section6 {
    display: flex;
    align-items: center;
    justify-content: center;
}