* {
    background-color: #1f2937;
}

.Section1 {
    display: flex;
}

.Section1 h1 {
    display: flex;
    height: 100px;
    flex: 1 1 auto;
    align-items: top;
    justify-content: center;
    padding: 10px;
}

.Section1 div {
    display: flex;
    flex: 1;
    padding: 20px;
}

.Section1 .one1 {
    display: flex;
    flex: 200 0 0%;
}

.Section1 .two1 .three1 .four1 {
    display: flex;
    justify-content: right;
}

.Image1 {
    border: 8px solid#3882f6;
    border-radius: 25%;
}

h1 {
    font-style: bold;
}

.header {
    color:#f9faf8;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toptext {
    color: #f9faf8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

.subSection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 300px;
}

#button1 {
    font-size: 18px;
    font-weight: bold;
    border: #3882f6;
    background-color: #3882f6;
    cursor: pointer;
    border-radius: 25px;
}


.Section3 {
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
}

.SubSection3one {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9faf8;
}

.SubSection3two {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f9faf8;
}

.img1 {
    width: 300px;
    height: 300px;
    aspect-ratio: 1/2;
    background-color: #f9faf8;
    border: 8px solid#3882f6;
    border-radius: 25%;
}

.SubSection3three {
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: center;
    background-color: #f9faf8;
}

.BlackOnWhiteText {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f9faf8;
}

.BlackOnWhiteText2 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f9faf8;
}

#center1 {
 display: flex;
 align-items: center;
 justify-content: center;
}